[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "thirdparty/valve-bsp-parser"]
	path = thirdparty/valve-bsp-parser
	url = https://github.com/Slaweknowy/valve-bsp-parser
[submodule "thirdparty/liblzma"]
	path = thirdparty/liblzma
	url = https://github.com/Slaweknowy/liblzma
