[submodule "thirdparty/valve-bsp-parser"]
	path = thirdparty/valve-bsp-parser
	url = https://github.com/Slaweknowy/valve-bsp-parser
[submodule "thirdparty/liblzma"]
	path = thirdparty/liblzma
	url = https://github.com/SlawekNowy/liblzma
[submodule "thirdparty/hllib"]
	path = thirdparty/hllib
	url = https://github.com/SlawekNowy/HLLib
[submodule "thirdparty/fcaseopen"]
	path = thirdparty/fcaseopen
	url = https://github.com/SlawekNowy/fcaseopen
